body{
	font-family: Segoe UI;
	font-size: 14px;
	color: #FFFFFF;
}

header{
	text-align: center;
	color: #000000;
	background-color: #000000;
}

#sec-foto{
	background-image: url( "../img/page-corporate-company-team-building-cover-image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 250px 0;
	
}

#sec-quien{
	background-color: #000000;
	padding: 45px 0;
}

#sec-quien h6{
	font-size: 14px;
	margin-bottom: 80px;
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
	color: #FFFFFF;
}

#sec-quien h2{
	font-size: 45px;
	font-weight: 600;
	color: #FFFFFF;
	margin-bottom: 25px;
	margin-top: 30px;
	text-align: center;
}

#sec-valores{
	background-color:#FFFFFF;
	margin: 50px 0 80px;
	color: #000;
}
#sec-valores h6{
	font-size: 45px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 25px;
	margin-top: 30px;
	text-align: center;
}
.texting{
	margin-bottom: 50px;
	text-align: center;
}

#sec-valores .row{
	align-content: center;
	text-align: center;
	padding: 12px 0;
}
footer{
	text-align: center;
	color: #000;
	padding: 20px 0 10px;
	background-color: #E4007D;
}
footer h3{
	font-size: 20px;
}
.contacto{
	margin-top: 6px;
	text-align: center;
}
.container-contact{
	text-align: justify;
	padding-left: 80px;
	padding-top: 10px;
}
.contacto h6{
	font-weight: 300;
}