body{
	font-family: Segoe UI;
	font-size: 14px;
	color: #000000;
}
header{
	background-color: #000000;
	text-align: center;
	color: #000;
}

#sec-equipos{
	margin-top: 70px;
}

#sec-foto{
	background-image: url( "../img/bs2-600x300.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 250px 0;
}

#sec-hero{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #000000;
	padding: 300px 0 100px;
	margin-top: 20px;
}

#sec-services{
	background-color:#FFFFFF;
	margin: 50px 0 80px;
	color: #000;
}
#sec-services h2{
	font-size: 45px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 25px;
	margin-top: 30px;
}
#sec-services  h4{
	font-size: 14px;
	margin-bottom: 80px;
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
}
.texting{
	margin-bottom: 50px;
	text-align: center;
}
.texto{
	font-size: 54px;
	color: #000000;
	font-weight: 300;
	margin-bottom: 45px;
}
.titulo{
	font-size: 55px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 45px;
	font-weight: 600;
}

#sec-values{
	background-color: #000000;
	color: #fff;
	text-align: center;
	padding: 30px 0 80px;
}
#sec-values h2{
	margin-top: 20px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 30px;
}
#sec-values h6{
	margin-bottom: 80px;
	font-weight: 400;	
}
.text{
	padding-bottom: 60px;
	font-weight: 700;
	font-size: 23px;
	margin-top: 20px;
}
#sec-equipos{
	background-color: #fff;
	font-size: 18px;
	margin-bottom: 80px;
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
}
#sec-equipos h2{
	color: #000000;
	text-align: center;
}
#sec-equipos h6{
	text-align: center;
}
footer{
	text-align: center;
	color: #000;
	padding: 20px 0 10px;
	background-color: #E4007D;
}
footer h3{
	font-size: 20px;
}
.contacto{
	margin-top: 6px;
	text-align: center;
}
.container-contact{
	text-align: justify;
	padding-left: 80px;
	padding-top: 10px;
}
.contacto h6{
	font-weight: 300;
}
